VS_VERSION_INFO VERSIONINFO
    FILEVERSION    1,0,0,0
    PRODUCTVERSION 1,0,0,0
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904b0"
        {
            VALUE "CompanyName",        "CyberDay Studios\0"
            VALUE "FileDescription",    "Kernel mode disk driver\0"
            VALUE "FileVersion",        "1.0.0.0\0"
            VALUE "LegalCopyright",     "© 2024 CyberDay Studios. All Rights Reserved\0"
            VALUE "OriginalFilename",   "diskkrnldrv.sys\0"
            VALUE "ProductName",        "Kernel mode disk driver\0"
            VALUE "ProductVersion",     "1.0.0.0\0"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x409, 1200
    }
}